@model List<SpringBootApp.Models.LicencePlate>
<html>
<head>
    <title></title>
</head>
<body>
    <table border="1">
        <tr>
            <td>Licence plate</td>
            <td>Brand</td>
            <td>Model</td>
            <td>Color</td>
            <td>Year</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Plate</td>
                <td><a href="/search/@item.CarBrand">@item.CarBrand</a></td>                 
                <td>@item.CarModel</td>
                <td>@item.Color</td>
                <td>@item.Year</td>               
            </tr>
        }
    </table>
    <form action="/search" method="get">
        <h2>Type the licence plate: </h2>
        <label for="Plate"></label>
        <input type="text" name="inputPlate" value="[Required format: ABX-123]" /><br />
        <br><button type="submit">Search</button>     
    </form>

    @Html.ActionLink("Police cars only", "Index", "Home", new { police = 1 })<br />
    <br>
    @Html.ActionLink("Diplomats only", "Index", "Home", new { diplomat = 1 })
</body>
</html>