@model BankOfSimba.ViewModels.Home.HomeViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        @{ var index = 0; }
            @foreach (var account in Model.accounts)
            {
                <tr style="@((@account.IsKing) ? "color:red" : "color:black") ">
                    <td>@(++index)</td>
                    <td>@account.Name</td>
                    <td>@account.AnimalType</td>
                    <td>@account.Balance.ToString("0.00") @account.MoneyType</td>
                </tr>            
            }
    </table>
</body>
</html>