@model List<TodoApp.Todo>
<html>
<head>
    @{ 
        Layout = "_Layout";
    }
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/CSS/StyleSheet.css")" />*@
    <link href="~/CSS/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row" >
            <div class="col-md-10">
                <h1>Todos for today:</h1>
                    <table class="table-striped table-bordered col-lg-10 table-hover">
                        <tr>
                            <td>ID</td>
                            <td>Todo description</td>
                            <td>Done or not</td>
                            <td>Importance</td>
                            <td>Delete</td>
                            <td>Update</td>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>
                                    <a href="/@item.Id/item"> @item.Title</a>
                                    <input type="hidden" class="bg-warning active"name="Id" value="@item.Id" />
                                </td>
                                <td>@item.IsDone</td>
                                <td>@item.IsUrgent</td>
                                <td>
                                    <form action="/(@item.Id)/delete" method="post">
                                        <input type="hidden" name="Id" value="@item.Id" />
                                        <button id="table" class="btn btn-lg active btn-primary" type="submit">Delete</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="/(@item.Id)/update" method="get">
                                        <input type="hidden" name="Id" value="@item.Id" />
                                        <button id="table" class="btn btn-lg active btn-info" type="submit">Edit</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </table>
            </div>
            <h2><a href="/todo/add">Add new Todo</a></h2>
        </div>
    </div>
</body>
</html>