@model List<TodoApp.Todo>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/StyleSheet.css")" />
</head>
<body>
    <h1>Todos for today:</h1>
    <h2><a href="/todo/add">Add new Todo</a></h2>
    <table>
        <tr>
            <td>Id</td>
            <td>Action</td>
            <td>Done</td>
            <td>Urgent</td>
            <td>Delete Action</td>
            <td>Update Action</td>
        </tr>
        @foreach (var item in Model)
         {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.IsDone</td>
                <td>@item.IsUrgent</td>
                <td><form action="/(@item.Id)/delete" method="post">
                    <input type="hidden" name="Id" value="@item.Id" />
                    <button id="table" class="number" type="submit">Delete</button>
                    </form></td>
                <td>
                    <form action="/@item.Id)/update" method="post">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <button id="table" class="number" type="submit">Edit</button>
                    </form>                   
                </td>
            </tr>
         }
    </table>
</body>
</html>