@model TodoApp.Todo
<body>
    <h1>Edit todo</h1>
    @using (Html.BeginForm("edit", "todo"))
    {
        <input type="hidden" name="Id" value="@Model.Id" />
        <p>@Html.LabelFor(x => x.Title) : @Html.TextBoxFor(x => x.Title)</p>
        <p>@Html.LabelFor(x => x.IsUrgent) : @Html.CheckBoxFor(x => x.IsUrgent)</p>
        <p>@Html.LabelFor(x => x.IsDone) : @Html.CheckBoxFor(x => x.IsDone)</p>
        <button type="submit">Submit</button>
    }
    <h2><a href="/todo">cancel</a></h2>
</body>